<h2 mat-dialog-title>{{data.title}}</h2>

<mat-dialog-content style=" ">
    <div class="d-flex">
        <div class="div-flex-center col-3 ">
            <label>Tên đăng nhập</label>
        </div>
        <mat-form-field class="example-full-width">
            <input [disabled]="data.statusForm == 'edit'"  matInput maxlength="50" [(ngModel)]="user.username" placeholder=" " >
        </mat-form-field>
        
    </div>
    <div class="d-flex">
        <div class="div-flex-center col-3 ">
            <label>Họ tên nhân viên</label>
        </div>
        <mat-form-field class="example-full-width">
            <input matInput maxlength="200" [(ngModel)]="user.ho_ten" placeholder=" "  >
        </mat-form-field>
        
    </div>
    <div class="d-flex">
        <div class="div-flex-center col-3 ">
            <label>Ngày sinh</label>
        </div>
        <mat-form-field>
            <input matInput [(ngModel)]="user.ngay_sinh" [matDatepicker]="picker"
             placeholder=" ">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="d-flex">
        <div class="div-flex-center col-3 ">
            <label>Giới tính</label>
        </div>
        <mat-form-field>

            <mat-select [ngModel]="user.gioi_tinh">
                <mat-option *ngFor="let item of gioiTinhList" [value]="item.value">
                    {{item.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
 
    <div class="d-flex">
        <div class="div-flex-center col-3 ">
            <label>Email</label>
        </div>
        <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="user.email" maxlength="200" placeholder=" "  >
        </mat-form-field>
    </div>


    <div class="d-flex">
        <div class="div-flex-center col-3 ">
            <label>Điện thoại</label>
        </div>
        <mat-form-field class="example-full-width">
            <input matInput maxlength="10" [(ngModel)]="user.sdt" placeholder=" "  >
        </mat-form-field>
    </div>

    <div class="d-flex">
        <div class="div-flex-center col-3 ">
            <label>Mật khẩu</label>
        </div>
        <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="user.password" maxlength="100" type="password"
             placeholder=" "  >
        </mat-form-field>
    </div>

    <div class="d-flex">
        <div class="div-flex-center col-3">
            <label>Nhập lại mật khẩu</label>
        </div>
        <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="user.rePassword" maxlength="100" type="password" 
            placeholder=" "  >
        </mat-form-field>
    </div>
 
    <div class="d-flex">
        <div class="div-flex-center col-3">
            
        </div>
        
            <mat-checkbox color="primary" [(ngModel)]="user.is_admin" (checked)="user.is_admin" name="isAdmin"    >Là Admin</mat-checkbox>
 
    </div>
    <div class="d-flex">
        <div class="div-flex-center col-3">
            
        </div>
        
            <mat-checkbox color="primary" [(ngModel)]="user.is_active"
             (checked)="user.is_active" name="isActive"    >Hoạt động</mat-checkbox>
 
    </div>

</mat-dialog-content>
<div *ngIf="showMes" class="div-notis">
    <label>{{notis}}</label>
  </div>

<mat-dialog-actions style="justify-content: center;margin-bottom: 30px;">
    <button class="mat-raised-button mat-primary"
     style="background-color: rgb(97,148,194); margin-right:20px" 
     (click)="save()">Lưu</button>
    <button class="mat-raised-button" (click)="close()">Đóng</button>

</mat-dialog-actions>