/* You can add global styles to this file, and also import other style files */


/* Provide sufficient contrast against white background */
 
@import url("../node_modules/ngx-toastr/toastr.css");
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

/* .toast-error {
  background-color: #d9534f;
  color: #fff;
}
.toast-success {
  background-color: #5cb85c;
  color: #fff;
}
.toast-container {
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  right: 20px;
  padding: 10px;
} */
.div-item-lang{
  min-height: 30px;
  cursor: pointer;
 border:  1px solid #ced4da
}
.div-item-lang:hover {
  background-color: rgb(206, 214, 224);
}
.border-normal {
  border: 1px solid #ced4da;
  border-radius: 8px;
  padding-right: 7px;
  padding-left: 7px;
}
.button-theme {
  background-color: rgb(97, 148, 194);
  color: white;
  border: 1px solid rgb(97, 148, 194);
  /* min-width: 90px; */
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.margin-div-container {
  margin-left: 30px !important;
  margin-right: 30px !important;
  width: 100%;
  max-width: unset !important;
} 
* {
    font-size:13px!important;
    font-family:Arial;
}

table
th,td{border: 1px solid back!important;} 

.mat-paginator-page-size-label{
  padding-top: 15px;
}
.p-right-5 {
  padding-right: 5px;
}
.pad-rl-5 {
  padding-right: 5px;
  padding-left: 5px;
}
.cdk-overlay-pane{
  position: fixed!important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.custom-mat-table thead {
    
  position: sticky;
  top: 0;
  z-index: 1;
  background-color:white;

}
.dp-block {
  display: block!important;
}

.dp-none {
  display: none!important;
}
.font-menu * {
  color: rgb(97,148,194) !important;
}

.font-menu {
  color: rgb(97,148,194) !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-infix {
    border-top-width: 0px;
    padding-top: 0px!important;
}
